.checkbox-list input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .checkbox-list label {
    font-size: 1.15rem;
    margin-left: 5px;
  }

  .checkbox-list {
    list-style: none;
    padding: 4px;
    margin-top: 10px;
  }

  .checkbox-list li {
    padding: 4px;
  }